@charset "UTF-8";

@font-face {
    font-family: 'Poppins' !important;
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff') !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

@font-face {
    font-family: 'Poppins' !important;
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff') !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

@font-face {
    font-family: 'Poppins' !important;
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff') !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

@font-face {
    font-family: 'Poppins' !important;
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff') !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

/* コンパイルCSS 直接修正禁止 */
:root {
    --pc-min-width: 1024px;
    --pc-contents-width780: 7.80rem;
    --pc-contents-width980: 9.80rem;
    --pc-contents-width1080: 10.80rem;
    --pc-contents-width1160: 11.60rem;
    --pc-contents-padding40: .40rem;
    --sp-contents-padding40: .40rem;
    --sp-contents-padding35: .35rem;
    --sp-contents-padding20: .20rem;
    --sp-contents-padding15: .15rem
}

.contact-contents {
    padding-top: .8rem;
    padding-bottom: 1.4rem;
    font-size: .16rem;
    line-height: 2;
    letter-spacing: .05em
}

.contact-contents .content-introduction+* {
    margin-top: .6rem
}

.contact-contents .introduction-heading {
    font-size: .28rem;
    line-height: 1.5;
    letter-spacing: .05em
}

.contact-contents .introduction-tel_block {
    margin-top: .32rem
}

.contact-contents .introduction-tel_block .tel-annotation {
    margin-top: .08rem;
    font-size: .2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .05em
}

.contact-contents .introduction-form-description {
    margin-top: .6rem
}

.contact-contents .introduction-form-description>a {
    text-decoration: underline
}

.no-touchevents .contact-contents .introduction-form-description>a:hover {
    text-decoration: none
}

.contact-contents .content-form_wrap {
    padding-top: .72rem;
    padding-bottom: .8rem;
    background-color: #fff
}

.contact-contents .form-heading {
    font-size: .38rem;
    line-height: 1;
    letter-spacing: .05em;
    text-align: center
}

.contact-contents .form-description {
    margin-top: .2rem
}

.form-privacylink {
    margin-top: .56rem;
    text-align: center
}

.form-privacylink>a {
    text-decoration: underline
}

.no-touchevents .form-privacylink>a:hover {
    text-decoration: none
}

.page_container.-fin .fin-heading {
    font-size: .28rem;
    line-height: 1.5;
    letter-spacing: .05em;
    text-align: center
}

.page_container.-fin .fin-description {
    margin-top: .2rem;
    text-align: center
}

.page_container.-fin .fin-link {
    margin-top: .4rem;
    text-align: center
}

.page_container.-fin .fin-link>a {
    width: 3.6rem
}

.page_container.-fin .fin-link>a i,
.page_container.-fin .fin-link>a i:after,
.page_container.-fin .fin-link>a i:before {
    background-color: #fff
}

@media screen and (max-width:640px) {
    .contact-contents {
        padding-top: .4rem;
        padding-bottom: .5rem;
        font-size: .14rem;
        line-height: 1.6
    }

    .contact-contents .content-introduction+* {
        margin-top: .3rem
    }

    .contact-contents .introduction-heading {
        font-size: .2rem;
        text-align: center
    }

    .contact-contents .introduction-tel_block {
        text-align: center
    }

    .contact-contents .introduction-tel_block .tel>a {
        width: 100%
    }

    .contact-contents .introduction-tel_block .cor>a {
        width: 100%
    }

    .contact-contents .introduction-tel_block .tel>a i,
    .contact-contents .introduction-tel_block .tel>a i:after,
    .contact-contents .introduction-tel_block .tel>a i:before {
        background-color: #fff
    }

    .contact-contents .introduction-tel_block .cor>a i,
    .contact-contents .introduction-tel_block .cor>a i:after,
    .contact-contents .introduction-tel_block .cor>a i:before {
        background-color: #fff
    }

    .contact-contents .introduction-tel_block .tel>a i {
        margin: 0 0 0 .12rem;
        position: relative
    }

    .contact-contents .introduction-tel_block .cor>a i {
        margin: 0 0 0 .12rem;
        position: relative
    }

    .contact-contents .introduction-tel_block .tel-annotation {
        margin-top: .14rem;
        font-size: .14rem
    }

    .contact-contents .introduction-form-description {
        margin-top: .4rem
    }

    .contact-contents .content-form_wrap {
        padding-top: .3rem;
        padding-bottom: .3rem
    }

    .contact-contents .form-heading {
        font-size: .2rem
    }

    .form-privacylink {
        margin-top: .1rem
    }

    .page_container.-fin .fin-description {
        margin-top: .12rem
    }

    .page_container.-fin .fin-link {
        margin-top: .2rem
    }

    .page_container.-fin .fin-link>a {
        width: 100%
    }

    .page_container.-fin .fin-link>a i {
        position: relative;
        margin: 0
    }

    .page_container.-fin .fin-link>a i {
        margin-left: .16rem
    }
}

@media (min-width:641px) {
    .contact-contents .content-introduction {
        text-align: center
    }

    .contact-contents .introduction-tel_block .tel>a {
        align-items: flex-end;
        height: auto;
        color: #000;
        line-height: .75;
        background-color: transparent;
        font-family: 'Poppins' !important;
        font-weight: 600;
        font-size: .5rem;
        letter-spacing: .05em
    }

    .contact-contents .introduction-tel_block .cor>a {
        align-items: flex-end;
        height: auto;
        color: #000;
        line-height: .75;
        background-color: transparent;
        font-family: 'Poppins' !important;
        font-weight: 600;
        font-size: .5rem;
        letter-spacing: .05em
    }

    .contact-contents .introduction-tel_block .tel>a:before {
        content: "TEL";
        margin-right: .2em;
        font-size: .6em
    }

    .contact-contents .introduction-tel_block .cor>a:before {
        content: "COR";
        margin-right: .2em;
        font-size: .6em
    }

    .contact-contents .introduction-tel_block .tel>a:after {
        content: attr(data-tel)
    }

    .contact-contents .introduction-tel_block .cor>a:after {
        content: attr(data-tel)
    }

    .no-touchevents .contact-contents .introduction-tel_block .tel>a:hover {
        background-color: transparent
    }

    .no-touchevents .contact-contents .introduction-tel_block .cor>a:hover {
        background-color: transparent
    }

    .contact-contents .form-description {
        text-align: center
    }

    .page_container.-fin .fin-link>a i {
        left: auto;
        right: .26rem
    }
}

/*# sourceMappingURL=contact.css.map */