@charset "UTF-8";

/* コンパイルCSS 直接修正禁止 */
:root {
    --pc-min-width: 1024px;
    --pc-contents-width780: 7.80rem;
    --pc-contents-width980: 9.80rem;
    --pc-contents-width1080: 10.80rem;
    --pc-contents-width1160: 11.60rem;
    --pc-contents-padding40: .40rem;
    --sp-contents-padding40: .40rem;
    --sp-contents-padding35: .35rem;
    --sp-contents-padding20: .20rem;
    --sp-contents-padding15: .15rem
}

.project-header {
    padding-top: .8rem;
    padding-bottom: 1.2rem
}

.project-header .header-catch {
    margin-top: .72rem
}

.project-archive-categories {
    padding-top: 1rem
}

.project-archive-categories .categories-links_list {
    display: flex;
    padding-bottom: .2em;
    width: 100%;
    font-size: .28rem;
    line-height: 1.2;
    letter-spacing: .08em;
    font-weight: 700;
    overflow-x: auto
}

.project-archive-categories .categories-links_list.active .link._current>a span {
    background-color: #62a578
}

.project-archive-categories .categories-links_list .link {
    flex-shrink: 0
}

.project-archive-categories .categories-links_list .link:not(:last-child):after {
    content: "/";
    margin-left: .2em
}

.project-archive-categories .categories-links_list .link>a {
    line-height: .7
}

.no-touchevents .project-archive-categories .categories-links_list .link>a:hover span {
    background-color: #62a578
}

.project-archives_wrap {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.project-archives_wrap .archives-link_list {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 -.2rem -.6rem
}

.project-archives_wrap .link {
    margin: 0 .2rem .6rem;
    width: calc(25% - .4rem);
    position: relative
}

.project-archives_wrap .link>a {
    width: 100%;
    height: 100%;
    transition-property: background;
    transition-duration: .25s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

.project-archives_wrap .link>a:after {
    content: none
}

.no-touchevents .project-archives_wrap .link>a:hover>.link-img:before {
    opacity: .3
}

.project-archives_wrap .link-img {
    padding-bottom: 100%
}

.project-archives_wrap .link-img img {
    width: 100%;
    height: 100%
}

.project-archives_wrap .link-img:after {
    background-color: #fff
}

.project-archives_wrap .link-img:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition-property: opacity;
    transition-duration: .5s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

.project-archives_wrap .link-heading {
    padding-top: .1rem;
    font-size: 1.5vw;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.32
}

.project-archives_wrap .link-heading>span {
    max-width: 100%
}

.project-archives_wrap .link-heading>span+span {
    margin-top: .06rem
}

.people-flow {
    padding-top: .8rem;
    padding-bottom: 1rem
}

.people-flow .flow-heading {
    font-size: .38rem;
    font-weight: 700;
    letter-spacing: .05em
}

.people-flow .flow-contents_wrap {
    margin-top: .08rem;
    border-top: 1px solid;
    padding: .48rem 0;
    border-bottom: 1px solid;
    text-align: center
}

.people-flow .content {
    position: relative
}

.people-flow .content:not(:last-child) {
    padding-bottom: .64rem
}

.people-flow .content-heading {
    font-size: .28rem;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.4
}

.people-flow .content-description {
    margin-top: .04rem;
    font-size: .2rem;
    line-height: 1.6;
    letter-spacing: .05em
}

.people-flow .content-description>a {
    text-decoration: underline
}

.no-touchevents .people-flow .content-description>a:hover {
    text-decoration: none
}

.people-flow .content-next {
    top: auto;
    bottom: .22rem
}

.people-flow .flow-link {
    margin-top: .7rem;
    text-align: center
}

.project-single-article {
    padding-top: .8rem;
    padding-bottom: .8rem
}

.project-single-article .article-eyecatch img {
    width: 100%
}

.project-single-article .article-introduction {
    padding-top: .9rem
}

.project-single-article .introduction-heading {
    font-size: .5rem;
    line-height: 1.3;
    letter-spacing: .05em
}

.project-single-article .introduction-heading+* {
    margin-top: .24rem
}

.project-single-article .introduction-overview {
    margin-top: .4rem;
    font-size: .2rem;
    letter-spacing: .05em;
    line-height: 1.4
}

.project-single-article .overview+.overview {
    margin-top: .3em
}

.no-touchevents .project-single-article .overview-description a:hover {
    text-decoration: underline
}

.project-single-article .introduction-responsible {
    margin-top: .5rem;
    padding: .4rem;
    background-color: #fff
}

.project-single-article .responsible-header {
    display: flex;
    align-items: center;
    line-height: 1.4;
    font-weight: 700
}

.project-single-article .responsible-header .header-img {
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    width: .96rem;
    height: .96rem
}

.project-single-article .responsible-header .header-text {
    margin-left: .36rem
}

.project-single-article .responsible-header .text-heading {
    margin-top: .02rem;
    font-size: .2rem;
    letter-spacing: .05em
}

.project-single-article .responsible-header .text-name_responsible {
    font-size: .26rem;
    letter-spacing: .05em
}

.project-single-article .responsible-header .text-name_responsible-en {
    font-size: .18rem
}

.project-single-article .responsible-description {
    margin-top: .2rem;
    font-size: .2rem;
    letter-spacing: .05em;
    line-height: 1.7;
    text-align: justify;
    text-justify: inter-ideograph
}

.project-single-article .article-contents {
    padding-top: .9rem
}

.project-single-article .article-comment {
    padding-top: .9rem
}

.project-single-article .comment {
    margin-top: .4rem;
    padding: .3rem .4rem;
    font-size: .2rem;
    line-height: 2.5;
    letter-spacing: .05em;
    text-align: justify;
    text-justify: inter-ideograph;
    background-color: #fff
}

.project-single-article .comment-client {
    margin-top: .3rem;
    text-align: right;
    font-weight: 700
}

.project-single-article .comment-client .client-name {
    margin-left: .2rem;
    font-size: .26rem
}

.mod-aside-postother {
    padding-top: 2.6rem
}

.mod-single-pager+.mod_aside01 {
    padding-top: 1.2rem
}

@media screen and (max-width:640px) {
    .project-header {
        padding-top: .4rem;
        padding-bottom: .4rem
    }

    .project-header .header-catch {
        margin-top: .4rem
    }

    .project-archive-categories {
        padding-top: .4rem
    }

    .project-archive-categories .categories-links_list {
        font-size: .22rem;
        line-height: 1.4
    }

    .project-archives_wrap {
        padding-top: .4rem;
        padding-bottom: .4rem
    }

    .project-archives_wrap .archives-link_list {
        margin: 0 -.02rem -.2rem
    }

    .project-archives_wrap .link {
        margin: 0 .02rem .2rem;
        width: calc(50% - .04rem)
    }

    .project-archives_wrap .link-heading {
        padding-top: .06rem;
        font-size: .12rem
    }

    .project-archives_wrap .link-heading>span+span {
        margin-top: .04rem
    }

    .people-flow {
        padding-top: .2rem;
        padding-bottom: .5rem
    }

    .people-flow .flow-heading {
        font-size: .22rem
    }

    .people-flow .flow-contents_wrap {
        padding: .28rem 0
    }

    .people-flow .content:not(:last-child) {
        padding-bottom: .4rem
    }

    .people-flow .content-heading {
        font-size: .19rem
    }

    .people-flow .content-description {
        font-size: .14rem
    }

    .people-flow .content-next {
        bottom: .14rem
    }

    .people-flow .flow-link {
        margin-top: .24rem
    }

    .people-flow .link-button {
        width: 100%
    }

    .project-single-article {
        padding-top: .4rem;
        padding-bottom: .4rem
    }

    .project-single-article .article-introduction {
        padding-top: .36rem
    }

    .project-single-article .introduction-heading {
        font-size: .29rem
    }

    .project-single-article .introduction-heading+* {
        margin-top: .16rem
    }

    .project-single-article .introduction-subheading+* {
        margin-top: .3rem
    }

    .project-single-article .introduction-subheading br {
        display: none
    }

    .project-single-article .introduction-overview {
        margin-top: .3rem;
        font-size: .14rem
    }

    .project-single-article .overview+.overview {
        margin-top: 1em
    }

    .project-single-article .overview-description {
        padding-left: .9em
    }

    .project-single-article .introduction-responsible {
        padding: .24rem .2rem
    }

    .project-single-article .responsible-header .header-img {
        width: 1rem;
        height: 1rem
    }

    .project-single-article .responsible-header .header-text {
        margin-left: .18rem
    }

    .project-single-article .responsible-header .text-heading {
        font-size: .12rem
    }

    .project-single-article .responsible-header .text-name_responsible {
        margin-top: .06rem;
        font-size: .18rem;
        line-height: 1.3
    }

    .project-single-article .responsible-header .text-name_responsible>span {
        display: block
    }

    .project-single-article .responsible-header .text-name_responsible-en {
        margin-top: .04rem;
        font-size: .12rem;
        line-height: 1
    }

    .project-single-article .responsible-header .text-name_responsible-en>span {
        display: block
    }

    .project-single-article .responsible-description {
        font-size: .14rem
    }

    .project-single-article .article-contents {
        padding-top: .36rem
    }

    .project-single-article .article-comment {
        padding-top: .36rem
    }

    .project-single-article .comment {
        margin-top: .2rem;
        padding: .2rem;
        font-size: .14rem;
        line-height: 2
    }

    .project-single-article .comment-client {
        margin-top: .1rem
    }

    .project-single-article .comment-client .client-name {
        margin-left: .1rem;
        font-size: .19rem
    }

    .mod-aside-postother {
        padding-top: .9rem
    }

    .mod-single-pager+.mod_aside01 {
        padding-top: .4rem
    }
}

@media (min-width:641px) {
    .people-flow .link-button {
        width: 3.6rem
    }

    .project-single-article .overview {
        display: flex;
        justify-content: flex-start
    }

    .project-single-article .overview-heading {
        width: 8.5em;
        flex-shrink: 0
    }

    .project-single-article .overview-description {
        flex: 1
    }
}

/*# sourceMappingURL=project.css.map */