.social-icons {
    margin-top: 20px;
    display: block;
    gap: inherit;
    justify-content: center;
    flex-direction: row;
    flex-wrap: unset;
    /* Asegura que los iconos no se envuelvan */
}

.social-icon-white {
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}

.social-icon-black {
    color: #000;
    font-size: 50px;
    text-decoration: none;
}

.social-icon-white:hover,
.social-icon-black:hover {
    color: #eb32ff;
}