.imagenTeceo {
    height: 100% !important;
    width: 100% !important;
}

.imagenBG {
    background-image: url('/asset/img/pages/index/fondo.jpg');
    background-size: cover;
    background-position: center !important;
}

.padingButton {
    padding: 1%;
}

.fontPurple {
    color: #644db5 !important;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 2s;
    /* Ajusta el retraso según sea necesario */
}

.fontRedIntro {
    color: #eb32ff !important;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 3.5s;
}

.fontRed {
    color: #eb32ff !important;
    opacity: 0;
}

.fontRed.animate {
    animation: fadeIn 2s ease forwards;
}

.fontPurpleIntroLink {
    color: #fff !important;
    background-color: #644db5;
    border-radius: 10px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 4s;
    margin-bottom: 1%;
    /* Nuevos estilos para el botón */
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s ease;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.reacomodoFont {
    display: block;
    font-size: 1rem !important;
    position: relative
}

@media (max-width: 640px) {
    .reacomodoFont {
        display: block;
        font-size: .6rem !important;
        position: relative
    }
}

@media screen and (min-width: 640px) {

    .linkPurple:hover {
        transition: background-color 0.5s ease, color 0.5s ease;
        background-color: #fff !important;
        border: 1px solid #000;
        color: #644db5 !important;
        /* Aseguramos que el borde no afecte el tamaño */
        box-sizing: border-box;
    }

    .linkRed:hover {
        background-color: #eb32ff !important;
        color: #fff !important
    }

    .linkBlack:hover {
        background-color: #1d1d1d !important;
        color: #ffffff !important
    }

    .linkWhite:hover {
        background-color: #ffffff !important;
        color: #000000 !important
    }
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.social-icons a {
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.2s;
    margin-bottom: 10px;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.borderRadius {
    border-radius: 20px !important;
}

@media (max-width: 768px) {
    .social-icons {
        flex-direction: column;
    }

    .padingButton {
        padding: 3%;
    }
}